<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
</head>

<body>
    <h1>Well done, you have authenticated successfully</h1>
    <div>
        <img src="https://cultofthepartyparrot.com/parrots/hd/parrot.gif" alt="Congrats">
    </div>

    <div>
        <a href="{{ url_for('private_bp.token') }}">View JWT</a>
    </div>

    <div>
        <form method="post" action="{{ url_for('auth_bp.logout') }}">
            <input type="submit" value="Logout" />
        </form>
    </div>
</body>